.autocomplete_container {
}

.autocomplete_input_container {
  position: relative;
  height: 100%;
  width: 100%;
}

.autocomplete_menu_container {
  position: relative;
  height: 100%;
  width: 100%;
}

.autocomplete_menu {
  margin-top: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(530px - 5%);
}

.autocomplete_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #2b344d;
}

.autocomplete_menu ul li {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: left;
}

.autocomplete_menu ul li:hover {
  background: rgba(34, 39, 61, 0.5);
}

.autocomplete_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: #333;
}

.autocomplete_text .hidden {
  visibility: hidden;
}

.autocomplete_text .highlighted {
  background: #eee;
}